@page
@using AutomobileRent.Core.Models
@model AutoRent.FrontEnd.Pages.CustomerModel
@{
	ViewData["Title"] = "Combustion engine cars";
	Layout = "Shared/_Layout";
}

<table class="my-table">
    <tr class="my-table-row-headings">
        <th>Name</th>
        <th>Surname</th>
        <th>BirthDate</th>
        <th>CustomerId</th>
    </tr>
    @foreach (Customer customer in Model.Customers)
    {
        <tr class="my-table-row">
            <td>@customer.Name</td>
            <td>@customer.Surname</td>
            <td>@customer.BirthDate.ToShortDateString()</td>
            <td>@customer.CustomerId</td>
        </tr>
    }


</table>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Add new customer</h1>
    <p>Enter customer data to add them to the list</p>
</div>

<br>

<form>
    <label for="name">Enter customer's name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="surname">Enter customer's surname:</label><br>
    <input type="text" id="surname" surname="surname"><br><br>
    <label for="birthDate">Enter customer's birth date:</label><br>
    <input type="date" id="birthDate" birthDate="birthDate"><br><br>
    <br>
    <input type="submit">

</form>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Update customer's data</h1>
    <p>Enter customer data you want to update</p>
</div>

<br>

<form>
    <label for="name">Enter customer's name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="surname">Enter customer's surname:</label><br>
    <input type="text" id="surname" surname="surname"><br><br>
    <label for="birthDate">Enter customer's birth date:</label><br>
    <input type="date" id="birthDate" birthDate="birthDate"><br><br>
    <br>
    <input type="submit">

</form>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Delete customer from the list</h1>
    <p>Enter customer Id you want to delete</p>
</div>

<br>

<form>
    <label for="customerId">Enter customer Id:</label><br>
    <input type="text" id="customerId" customerId="customerId"><br><br>
</form>

<br>
<br>
<br>

<div class="text-left">
    <h1 class="display-4">Get all customer's orders</h1>
    <p>Enter customer Id to see all orders made by the customer</p>
</div>

<br>

<form>
    <label for="customerId">Enter customer Id:</label><br>
    <input type="text" id="customerId" customerId="customerId"><br><br>
</form>